/**
* tCss作为css框架
*  box-sizing: border-box;//一般的box大小是 width+padding+border = 实际宽度,如果设定这个属性则 实际宽度 =  width
* @autor tonway
* @time 2015-11-22
*/
body,section,article,aside,header,footer,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,summary{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body{
    padding:15px;
    font-family: "Microsoft YaHei","宋体";
    font-size: 14px;
    color:#788288;
}
ul,ol,li{
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    color: #000;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small,
	.h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small,
	h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small,
	.h4 .small, .h5 .small, .h6 .small {
	font-weight: normal;
	line-height: 1;
	color: #777;
}

h1, .h1, h2, .h2, h3, .h3 {
	padding-top: 20px;
	padding-bottom: 10px;
}

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small,
	.h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
	font-size: 65%;
}

h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small,
	.h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {
	font-size: 75%;
}

h1, .h1 {
	font-size: 36px;
}

h2, .h2 {
	font-size: 30px;
}

h3, .h3 {
	font-size: 24px;
}

h4, .h4 {
	font-size: 18px;
}

h5, .h5 {
	font-size: 14px;
}

h6, .h6 {
	font-size: 12px;
}

p {
	margin: 0 0 10px;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #58BC5A;
}

img {
	max-width: 100%;
}

.img5-circle {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.img6-circle {
	width: 60px;
	height: 60px;
	border-radius: 60px;
}

.img10-circle {
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
/**
* 头部相关
*/
header {
	
}

.logo {
	
}

nav {
	
}
/**
** 页脚相关
*/
footer {
	
}

.mt-small {
	margin-top: 5px;
}

.mt-middle {
	margin-top: 20px;
}

.mt-big {
	margin-top: 50px;
}
/***
* 布局
*
*/
.row {
	margin: 10px 0;
}

.row::after {
	clear: both;
	display: block;
	content: " ";
	width: 0;
	height: 0;
}

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5,
	.col-4, .col-3, .col-2, .col-1 {
	float: left;
	padding: 0 15px;
}

.col-6 {
	width: 49.9999%;
}

.col-12 {
	width: 100%;
}

.col-11 {
	width: 91.66666667%;
}

.col-1 {
	width: 8.333%;
}

.col-10 {
	width: 83.33333333%;
}

.col-9 {
	width: 75%;
}

.col-8 {
	width: 66.66666667%;
}

.col-7 {
	width: 58.33333333%;
}

.col-6 {
	width: 50%;
}

.col-5 {
	width: 41.66666667%;
}

.col-4 {
	width: 33.33333333%;
}

.col-3 {
	width: 25%;
}

.col-2 {
	width: 16.66666667%;
}
/**
*  背景
*/
.bg-primary {
	background-color: #594f8d;
    color: #dbd8e9;
}
.bg-success {
	background-color: #92cf5c;
    color: #fbfdfa;
}

.bg-black {
    background-color: #2c3039;
    color: #9aa1b1;
}
.bg-dark {
    background-color: #4c5566;
    color: #c4c9d3;
}
.bg-light {
    background-color: #ebeef5;
    color: #717171;
}
.bg-info {
    background-color: #5dcff3;
    color: #ffffff;
}
.bg-warning {
    background-color: #fcc44d;
    color: #ffffff;
}
.bg-danger {
    background-color: #fb6b5b;
    color: #ffffff;
}
/**
*  圆角
*/
.rd-5 {
	border-radius: 5px;
}
.rd-10 {
	border-radius: 10px;
}
.rd-15 {
	border-radius: 15px;
}
.rd-20 {
	border-radius: 20px;
}
/**
* 基本配置
*/
.fixed {
	position: fixed;
}

.line {
	height: 1px;
	background-color: #eee;
	width: 100%;
	display: block;
	text-align: center;
}

.line::AFTER {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	content: " ";
	border: #eee 1px solid;
	top: -10px;
	background-color: #fff;
}
/**
*  ipad,ipad mini级以上的设备
*/
@media ( min-width : 768px) {
}
/**
* iphone5s屏幕尺寸及以下
*/
@media ( max-width : 640px) {
	.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5,
		.col-4, .col-3, .col-2, .col-1 {
		width: 100%;
	}
}