/***
* 这里是List
纵向列表
* lt list
* lt-it list-item
* lt-it-title 每项的标题
* lt-it-cover 每项的封面
* lt-it-tool 每项的工具按钮栏
* lt-it-point 重点突出信息
* .lt strong 强调信息
* .lt strong em 强调信息中的特殊信息
* .lt strong.not 不需要强调的,删除的
* .lt .extra 扩展额外信息
*/
.lt:after {
	clear: both;
	display: block;
	content: " ";
	height: 0;
}

.lt .lt-it-cover {
	display: block;
}

.lt .lt-it-cover img {
	min-width: 100%;
	max-width: 100%;
}

.lt .lt-it-title {
	line-height: 18px;
}

.lt .lt-it-tool {
	margin-top: 8px;
	margin-bottom: 8px;
	display: flex;
	align-content: space-around;
	justify-content: space-around;
}

.lt .lt-it-tool a {
	display: inline-block;
	padding: 5px;
	border: 1px #eee solid;
}

.lt strong {
	font-size: 18px;
	color: #e4393c;
	margin-right: 5px;
}

.lt strong em {
	font-style: normal;
}

.lt strong.not {
	font-size: 14px;
	color: #666666;
	text-decoration: line-through;
}

.lt .extra {
	font-size: 12px;
	color: #bbbbbb;
}
/*文本列表*/
.lt-txt {
	
}

.lt-txt .lt-it {
	line-height: 25px;
	font-size: 14px;
}

.lt-txt .lt-it .lt-it-title {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.lt-txt .lt-it time {
	font-size: 12px;
	color: #bbb;
	float: right;
}
/**
* 横向列表
*/
.lt-inline {
	
}

.lt-inline .lt-it {
	float: left;
	padding: 5px;
}

/*图文列表*/
.lt-img-txt {
	
}

.lt-img-txt .lt-it:hover {
	border: #bbbbbb 1px solid;
}

.lt-img-txt-block {
	
}

.lt-img-txt-block .lt-it {
	padding: 10px;
}

.lt-img-txt-block .lt-it .lt-it-cover {
	float: left;
	padding-right: 10px;
}

.lt-img-txt-block .lt-it:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
}