/**
* tCss作为css框架
*  box-sizing: border-box;//一般的box大小是 width+padding+border = 实际宽度,如果设定这个属性则 实际宽度 =  width
* @autor tonway
* @time 2015-11-22
*/
body,section,article,aside,header,footer,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,summary{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body{
    padding:15px;
    font-family: "Microsoft YaHei","宋体";
    font-size: .75em;
}
ul,ol,li{
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.875em;
    color: #666;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    color: #58BC5A;
}
img{
    max-width: 100%;
}
/**
* 头部相关
*/
header{}
.logo{}
nav{}
/**
** 页脚相关
*/
footer{

}

/***
* 布局
*
*/
.row{
    margin:10px 0;
}
.row:after{
    clear: both;
    display: table;
    content: " ";
}
.col-4:nth-child(2n),.col-3:nth-child(2n),.col-2:nth-child(2n),.col-1:nth-child(2n){

}
.col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1{
    min-height: 200px;
    float: left;
    padding:0 15px;
}
.col-6{
    width: 49.9999%;
}
.col-12{
    width: 100%;
}
.col-11{
    width:91.66666667%;
}
.col-1{
    width: 8.333%;
}
.col-10 {
    width: 83.33333333%;
}
.col-9 {
    width: 75%;
}
.col-8 {
    width: 66.66666667%;
}
.col-7 {
    width: 58.33333333%;
}
.col-6 {
    width: 50%;
}
.col-5 {
    width: 41.66666667%;
}
.col-4 {
    width: 33.33333333%;
}
.col-3 {
    width: 25%;
}
.col-2 {
    width: 16.66666667%;
}

/**
*  ipad,ipad mini级以上的设备
*/
@media (min-width: 768px) {

}
/**
* iphone5s屏幕尺寸及以下
*/
@media (max-width: 640px) {


}


